<img class="avatar" src="https://avatars0.githubusercontent.com/u/29668448?s=460&u=abdafe71fbc4d51422ed1450ad8d518779efcb52&v=4" width="150px" height="150px"/>
<br />
<br />
<h3>👋, {{student_name}}!</h3>
<br />
<div class="card">
    <div class="card-header">
      <h4>🗺 Navigation</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="/" class="left-nav"><h5>🏠 Home</h5></a></li>
        <li class="list-group-item"><a href="/hours" class="left-nav"><h5>⏱ Hours</h5></a></li>
        <li class="list-group-item"><a href="/activities" class="left-nav"><h5>🙋‍♂️ Activities</h5></a></li>
        <li class="list-group-item"><a href="/resources" class="left-nav"><h5>📚 Resources</h5></a></li>
        <li class="list-group-item"><a href="/settings" class="left-nav"><h5>⚙️ Settings</h5></a></li>
      </ul>
</div>