{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-3">
        {% include 'includes/_navbar.html' %}
        </div>
        {% include 'includes/_title.html' %}
              <br />
              <div class="card">
                <div class="card-header">
                    <h3>🗞 Stream
                      <span style="float:right;">{% include 'includes/_addpost.html' %}</span></h3>
                  </div>
                  <ul class="list-group list-group-flush">
                    {% include 'includes/_posts.html' %}
                  </ul>
              </div>
        </div>
        <div class="col-1"></div>
      </div>
      <br />
    <br />
  </div>
  {% endblock %}