{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-3">
        {% include 'includes/_navbar.html' %}
        </div>
        {% include 'includes/_title.html' %}
              <br />
              <div class="card">
                <div class="card-header">
                    <h3>🗞 Stream</h3>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img class="avatar" src="https://avatars0.githubusercontent.com/u/29668448?s=460&u=abdafe71fbc4d51422ed1450ad8d518779efcb52&v=4" width="100px" height="100px"/>
                                <br />
                                <br />
                                <p>Chris Pondoc</p>
                            </div>
                            <div class="col-10">
                                <h4><b>New Service Opportunity!</b></h4>
                                <a href="#" class="badge badge-success">SERVICE OPPORTUNITY</a>
                                <br />
                                <br />
                                <p>Be on the lookout for a new posting from the United Way! It would take place on April 11 from 2-3 PM. Please let myself or Mr. Burroughs know if you have any questions. Thanks again!</p>
                                <p class="card-text"><small class="text-muted">8:28, March 28, 2020 · 💭 Comment · 👍🏻 Like</small></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img class="avatar" src="https://avatars0.githubusercontent.com/u/29668448?s=460&u=abdafe71fbc4d51422ed1450ad8d518779efcb52&v=4" width="100px" height="100px"/>
                                <br />
                                <br />
                                <p>Chris Pondoc</p>
                            </div>
                            <div class="col-10">
                                <h4><b>New Service Opportunity!</b></h4>
                                <a href="#" class="badge badge-success">SERVICE OPPORTUNITY</a>
                                <br />
                                <br />
                                <p>Be on the lookout for a new posting from the United Way! It would take place on April 11 from 2-3 PM. Please let myself or Mr. Burroughs know if you have any questions. Thanks again!</p>
                                <p class="card-text"><small class="text-muted">8:28, March 28, 2020 · 💭 Comment · 👍🏻 Like</small></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img class="avatar" src="https://avatars0.githubusercontent.com/u/29668448?s=460&u=abdafe71fbc4d51422ed1450ad8d518779efcb52&v=4" width="100px" height="100px"/>
                                <br />
                                <br />
                                <p>Chris Pondoc</p>
                            </div>
                            <div class="col-10">
                                <h4><b>New Service Opportunity!</b></h4>
                                <a href="#" class="badge badge-success">SERVICE OPPORTUNITY</a>
                                <br />
                                <br />
                                <p>Be on the lookout for a new posting from the United Way! It would take place on April 11 from 2-3 PM. Please let myself or Mr. Burroughs know if you have any questions. Thanks again!</p>
                                <p class="card-text"><small class="text-muted">8:28, March 28, 2020 · 💭 Comment · 👍🏻 Like</small></p>
                            </div>
                        </div>
                    </li>
                  </ul>
              </div>
        </div>
        <div class="col-1"></div>
      </div>
      <br />
    <br />
  </div>
  {% endblock %}